@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

*{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html { font-size: 62.5%; } 
body{
	font-family: "Lato", sans-serif;
	font-size: 1.4rem;
	font-weight:400;
	color:#fff;
}
h1{
	font-size:4.5rem;
	font-weight: 300;
}
h2{
	font-size:1.8rem;
}

/* NAVBAR */
.navbar{
	position:fixed;
	z-index: 100;
	width:100%;
	background: transparent;
	border:none;
}
.navbar-default .navbar-nav> li > a{
	color:#fff;
}
/* END NAVBAR */

.row{
	margin-right:0;
	margin-left:0; /* fix white space*/
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
	top:25%;
	bottom:50px;
	max-width:840px;
}
.carousel-caption > div{
	float:left;
	width:50%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > .img {
	width:100%;
	height:100%;
	background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.carousel-inner > .item > .img1 {
	background:url(../assets/slide1.jpg) no-repeat;
}
/* END CAROUSEL */

.container{
	max-width:1100px;
}

/*---------SERVICES-----------*/
.page-services{
	background:  #b24a50 url(../assets/services_back.png) no-repeat 0 0;
	padding-top:19%;
	text-align: center;
}
.page-services h1,
.page-services h2{
	text-transform: uppercase;
}
.page-services h2 span{
	color:  #ec9da2;
}
.page-services > .container > p{
	color:  #ffccd0;
	line-height: 2.4rem;
	padding-bottom:12%;
}
.services-badge{
	border-radius: 5px;
	margin-bottom:4%;
	padding-top:190px;
	padding-bottom: 40px;
}
.services-badge p{
	color:  #fefefe;
	padding-top: 45px;
}
.badge-header{
	font-size: 30px;
	font-weight: 300;
	line-height: 58px;
	text-transform: uppercase;
}
.services-badge-researching{
	background: url(../assets/badge_lightball.png), url(../assets/badge_countur.png);
	background-color: rgba(200, 83, 90, 0.8);
	background-repeat: no-repeat;
	background-position: center 60px, center 24px;
}
.services-badge-design{
	background: url(../assets/badge_wand.png), url(../assets/badge_countur.png);
	background-color: rgba(200, 83, 90, 0.8);
	background-repeat: no-repeat;
	background-position: center 60px, center 24px;
}
.services-badge-development{
	background: url(../assets/badge_gears.png), url(../assets/badge_countur.png);
	background-color: rgba(200, 83, 90, 0.8);
	background-repeat: no-repeat;
	background-position: center 60px, center 24px;
}
.services-badge-launch{
	background: url(../assets/badge_rocket.png), url(../assets/badge_countur.png);
	background-color: rgba(200, 83, 90, 0.8);
	background-repeat: no-repeat;
	background-position: center 66px, center 24px;
}
/*---------END SERVICES-----------*/