/* NAVBAR */
.navbar{
	position:fixed;
	z-index: 100;
	width:100%;
	background: transparent;
	border:none;
}
.navbar-default .navbar-nav> li > a{
	color:#fff;
}
/* END NAVBAR */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
	top:25%;
	bottom:50px;
	max-width:840px;
}
.carousel-caption > div{
	float:left;
	width:50%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width:1600px;
}

/* end Carousel */

.container{
	max-width:1100px;
}